
<div class="form-group">
    <label>{{localize "PF2E.ActionActionsLabel"}}</label>
    <div class="details-container-flex-row">
        <select name="data.actionType.value" data-dtype="String">
            {{#select data.actionType.value}}
                {{#each actionTypes as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
        <select name="data.actions.value" data-dtype="Number">
            {{#select data.actions.value}}
                <option value=""></option>
                {{#each actionsNumber as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                {{/each}}
            {{/select}}
        </select>
    </div>
</div>

<div class="form-group">
    <label>{{localize "PF2E.ActionCategoryLabel"}}</label>
    <select name="data.actionCategory.value" data-dtype="String">
        {{#select data.actionCategory.value}}
            <option value=""></option>
            {{#each categories as |name type|}}
                <option value="{{type}}">{{localize name}}</option>
            {{/each}}
        {{/select}}
    </select>
</div>

<div class="form-group-stacked tags">
    <label>{{localize "PF2E.FeatPrereqLabel"}}</label>
    <input type="text" name="data.prerequisites.value" value="{{prerequisites}}" data-dtype="JSON" />
</div>

<div class="form-group-stacked">
    <label>
        {{localize "PF2E.TraitsLabel"}}
        <a class="trait-selector" data-trait-selector="basic" data-config-types="featTraits" data-property="data.traits"><i class="fas fa-edit"></i></a>
    </label>
    <ul class="traits-list pf-value pf-large">
        {{#each traits as |trait|}}
            {{#if trait.selected}}
                <li class="tag-legacy" data-trait="{{trait.value}}">{{localize trait.label}}</li>
            {{/if}}
        {{/each}}
    </ul>
</div>
