<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <label>{{localize "PF2E.SettingsColorLabel"}}</label>
        <select name="uiTheme" data-dtype="String">
            {{#select uiTheme}}
                <option value="blue">{{localize "PF2E.SettingsColorBlue"}}</option>
                <option value="red">{{localize "PF2E.SettingsColorRed"}}</option>
                <option value="original">{{localize "PF2E.SettingsColorOriginal"}}</option>
                <option value="ui">{{localize "PF2E.SettingsColorFoundry-UI"}}</option>
            {{/select}}
        </select>
        <p class="notes">{{localize "PF2E.SettingsColorNotes"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.SETTINGS.User.EffectPanel.Name"}}</label>
        <input type="checkbox" name="showEffectPanel" {{checked showEffectPanel}} data-dtype="Boolean">
        <p class="notes">{{localize "PF2E.SETTINGS.User.EffectPanel.Hint"}}</p>
    </div>

    <div class="form-group">
        <label>{{localize "PF2E.SettingsQuickRollsLabel"}}</label>
        <input type="checkbox" name="showRollDialogs" {{checked showRollDialogs}} data-dtype="Boolean">
        <p class="notes">{{localize "PF2E.SettingsQuickRollsNotes"}}</p>
    </div>

    {{#if developMode}}
        <div class="form-group">
            <label>{{localize "PF2E.UserSettings.DarkvisionFilter.Label"}}</label>
            <input type="checkbox" name="darkvisionFilter" {{checked darkvisionFilter}} data-dtype="Boolean">
            <p class="notes">{{localize "PF2E.UserSettings.DarkvisionFilter.Hint"}}</p>
        </div>
    {{/if}}

    <div style="width: 60%; margin: 20px auto 0px auto;">
        <button type="submit" name="submit"><i class="fas fa-save"></i> {{localize "PLAYERS.SaveConfig"}}</button>
    </div>
</form>
