<div class="spell-browser">
    <div class="control-area">
        <div class="sortcontainer" id="tagfilter">
            <input class="" name="textFilter" type="text" value="" data-dtype="String" placeholder="{{localize "PF2E.BrowserSearchPlaceholder"}}" title="{{localize "PF2E.BrowserSearchTitle"}}"/>
            <div class="hint" style="display:none;">
                {{{localize "PF2E.InventroyBrowserSearchHint"}}}
            </div>
            <dl>
                <dt>{{localize "PF2E.BrowserSortyByLabel"}}:</dt>
                <dd>
                    <select class="order">
                        <option value="name" selected>{{localize "PF2E.BrowserSortyByNameLabel"}}</option>
                        <option value="level">{{localize "PF2E.BrowserSortyByLevelLabel"}}</option>
                        <option value="price">{{localize "PF2E.BrowserSortyByPriceLabel"}}</option>
                    </select>
                    <a class="direction" data-type="alpha" data-direction="asc"><i class="fas fa-sort-alpha-up"></i></a>
                </dd>
            </dl>
        </div>
        <button type="button" class="clear-filters">{{localize "PF2E.BrowserClearFilters"}}</button>
        <div class="filtercontainer" id="itemTypesfilter">
            <h3>{{localize "PF2E.BrowserFilterInventoryTypes"}}</h3>
            <dl>
                {{#each itemTypes as |type key|}}
                    <label><dt><input type="checkbox" name="itemtypes-{{lower key}}"></dt><dd>{{type}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="raritiesfilter">
            <h3>{{localize "PF2E.BrowserFilterRarities"}}</h3>
            <dl style="display:none;">
                {{#each rarities as |rarity key|}}
                    <label><dt><input type="checkbox" name="rarity-{{lower key}}"></dt><dd>{{localize rarity}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="armorTypefilter">
            <h3>{{localize "PF2E.BrowserFilterArmorFilters"}}</h3>
            <dl style="display:none;">
                {{#each armorTypes as |armorType key|}}
                    <label><dt><input type="checkbox" name="armortype-{{lower key}}"></dt><dd>{{localize armorType}}</dd></label>
                {{/each}}
                {{#each armorGroups as |group key|}}
                    <label><dt><input type="checkbox" name="group-{{lower key}}"></dt><dd>{{localize group}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="weaponTypefilter">
            <h3>{{localize "PF2E.BrowserFilterWeaponFilters"}}</h3>
            <dl style="display:none;">
                {{#each weaponTypes as |weaponType key|}}
                    <label><dt><input type="checkbox" name="weapontype-{{lower key}}"></dt><dd>{{localize weaponType}}</dd></label>
                {{/each}}
                {{#each weaponGroups as |group key|}}
                    <label><dt><input type="checkbox" name="group-{{lower key}}"></dt><dd>{{localize group}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer" id="traitsfilter">
            <h3>{{localize "PF2E.BrowserFilterWeaponTraits"}}</h3>
            <dl style="display:none;">
                {{#each weaponTraits as |trait key|}}
                    <label><dt><input type="checkbox" name="traits-{{lower key}}"></dt><dd>{{localize trait}}</dd></label>
                {{/each}}
            </dl>
        </div>
        <div class="filtercontainer rangecontainer" id="levelfilter">
            <h3>{{localize "PF2E.BrowserFilterLevels"}}</h3>
            <div style="display:none;">
                <input type="number" name="lowerBound-level" value="0" min="0" max="30">
                -
                <input type="number" name="upperBound-level" value="30" min="0" max="30">
            </div>
        </div>
        <div class="filtercontainer" id="sourcefilter">
            <h3>{{localize "PF2E.BrowserFilterSource"}}</h3>
            <dl style="display:none;">
                {{#each source as |type key|}}
                <label><dt><input type="checkbox" name="source-{{lower type}}"></dt><dd>{{localize type}}</dd></label>
                {{/each}}
            </dl>
        </div>
    </div>
    <ul class="item-list result-list">
        {{#each inventoryItems as |item id|}}
            <li class="item flexrow" data-entry-compendium="{{item.compendium}}" data-entry-id="{{item._id}}" data-item-category="inventoryItems"
                {{#each item.filters as |filterKey|}}{{#if (lookup item.data filterKey)}}{{#with (lookup item.data filterKey) as |property|}}
                data-{{lower filterKey}}="{{lower property.value}}"
                {{/with}}{{/if}}{{/each}}>
                <div class="image">
                    <img class="" src="{{item.img}}" title="{{item.name}}" width="32" height="32" loading="lazy"/>
                </div>
                <div class="name">
                    <a class="item-link">{{item.name}}</a>
                </div>
                <div class="cell">
                    <span title="Item Price">
                        {{#if (eq item.type 'treasure')}}
                            {{item.data.value.value}} {{item.data.denomination.value}}
                        {{else}}
                            {{item.data.price.value}}
                        {{/if}}
                    </span>
                </div>
                <div class="level">
                    <span title="Item level">{{item.data.level.value}}</span>
                </div>
                <a class="controls take-item" title="{{localize 'PF2E.CompendiumBrowser.TakeLabel'}}">
                    <i class="far fa-hand-rock"></i>
                </a>
            </li>
        {{/each}}
    </ul>

</div>
